<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mmt.shubh.owsmtasks"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.mmt.shubh.owsmtasks.TaskApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.Home.HomeActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.mmt.shubh.owsmtasks.ui.activities.AddTaskActivity"
            android:label="@string/add_task"/>
        <activity
            android:name="com.mmt.shubh.owsmtasks.ui.activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
